@model MovieRental.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<table style="width:50%">
    <tr>
        <th>ReleaseDate</th>
        <th>Genre</th>
        <th>AddedDate</th>
        <th>NumberInStock</th>
    </tr>
    <tr>
        <td>@Model.ReleaseDate</td>
        <td>@Model.Genre</td>
        <td>@Model.DateAdded</td>
        <td>@Model.NumberInStock</td>
    </tr>
</table>

